PORT=3000

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=dayins123456

RABBITMQ_HOST=localhost
RABBITMQ_PORT=4067
RABBITMQ_USER=dayins
RABBITMQ_PASS=dayins123456

RBT_SERVICE_NAME=RABBITMQ_SERVICE
RBT_QUEUE_NAME=API_JOB

POSTGRES_PORT=5432
POSTGRES_DB=dayins
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres